body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Background.jpeg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    background: transparent;
}

main {
    margin-top: 100px; /* Adjust this value to increase or decrease the space */
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.nav-link {
    font-size: 1.2rem;
    color: #fff;
}

.main {
    margin-top: 80px; /* Adjust based on header height */
}

.button img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.content {
    width: 440px; /* Adjust based on button size */
    height: 440px; /* Adjust based on button size */
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
