body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Background.jpeg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    background: rgba(255, 255, 255, 0.8);
}

.main {
    margin-top: 80px; /* Adjust based on header height */
}

.button img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.content {
    width: 220px; /* Adjust based on button size */
    height: 220px; /* Adjust based on button size */
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
